<form [formGroup]="menuForm">
    <div class="row">
        <mat-form-field class="row">
          <mat-label>Item Id</mat-label>
          <input matInput placeholder="itemid" formControlName="itemid">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput placeholder="itemname" formControlName="itemname">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="desc" formControlName="desc">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput placeholder="price" formControlName="price">
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <mat-label>Cuisine</mat-label>
          <mat-select placeholder="cuisine" formControlName="cuisine">
            <mat-option *ngFor="let d of cuisineList" [value]="d">
              {{ d }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select placeholder="category" formControlName="category">
            <mat-option *ngFor="let d of categoryList" [value]="d">
              {{ d }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
 
    <div>
         <button mat-raised-button>Add Item</button>
    </div>
</form>
{{menuForm.value | json}}