
<form #login name="login-form" (ngSubmit)="Login()">
    <div class="row">
    <mat-form-field class="row">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" name="username">
    </mat-form-field>
</div>
<div class="row">
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">
      </mat-form-field>
</div>
<div>
     <button class="info">Login</button>
</div>
  </form>
  {{username}}


  <!-- <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password">
        </mat-form-field>
  
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card> -->